[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyshould = "*"
pytest = "*"

[packages]
requests = "*"
pillow = "*"
pyzbar = "*"
pyyaml = "*"
matplotlib = "*"
pandas = "*"
tabulate = "*"

[requires]
python_version = "3.8"
